<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>pdfordercolumn</name>
    <displayName><![CDATA[Custom Order Grid PDF Column]]></displayName>
    <version><![CDATA[1.0.1]]></version>
    <description><![CDATA[Adds PDF column with Invoice/Delivery links to order list.]]></description>
    <author><![CDATA[iCreative]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
</module>